.app {
  height: 120vh;
  background-color: chartreuse;
}

.displaydir {
  display: flex;
  margin-top: 25px;
}

.tweet {
  color: #09d3ac;
  font-family: sans-serif;
  border: 2px solid blue;
  border-radius: 30px;
  width: 50%;
  background-color: white;
  margin-left: 30px;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}
